.negativeNumb {
  color: #ff0000;
}

.positiveNumb {
  color: #008000;
}

.addIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.symbol {
  color: #9a283b;
  font-weight: 900;
}

.pointer {
  cursor: pointer;
}
