$whiteColor: hsl(0, 0%, 100%);

.headerClass {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 410px) {
  .headerClass {
    flex-direction: column;
    gap: 15px;
  }
}

.popularCryptoBlocks:not(:last-child) {
  padding-right: 20px;
}

.dark {
  opacity: 0.8;
  color: $whiteColor;
}

.popularCryptoClass {
  display: flex;
  justify-content: space-around;
}

.popularCrypto_switch {
  background-color: hsl(0, 2%, 38%) !important;
}

.popularCrypto_switch_light {
  background-color: hsl(284, 73%, 19%) !important;
}

.total_block {
  display: flex;
}

.total_block_image {
  width: 50px;
  height: 50px;
}

.totalClass {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 7px;
}
