.negativeNumb {
  color: hsl(0, 100%, 50%);
}

.positiveNumb {
  color: hsl(120, 100%, 25%);
}

.addIconClass {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.symbol {
  color: hsl(350, 59%, 38%);
  font-weight: 900;
}

.pointer {
  cursor: pointer;
}
