@use "./styles.scss" as negativeNumbMixin;
@use "./styles.scss" as positiveNumbMixin;

.mainBlock {
  margin-top: 15px;
}

.negativeNumb {
  @include negativeNumbMixin.negativeNumbStyle;
}

.positiveNumb {
  @include positiveNumbMixin.positiveNumbStyle;
}

.addIconClass {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.symbol {
  color: hsl(350, 59%, 38%);
  font-weight: 900;
}

.pointer {
  cursor: pointer;
}
