@use "./styles.scss/" as ButtonMixin;

.mainBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.backButtonBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.backButton {
  @include ButtonMixin.ButtonStyle;
}
