@use "./styles.scss/" as ButtonMixin;

.quantutyInputBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputNumber {
  margin-bottom: 10px;
  width: 50%;
}

.buyCryptoButton {
  @include ButtonMixin.ButtonStyle;
}

@media (min-width: 768px) {
  .buyCryptoButton {
    padding: 0 2.6rem;
  }
}
