@use "./styles.scss" as negativeNumbMixin;
@use "./styles.scss" as positiveNumbMixin;

.modalTitle {
  font-size: 25px;
}

.negativeNumb {
  @include negativeNumbMixin.negativeNumbStyle;
}

.positiveNumb {
  @include positiveNumbMixin.positiveNumbStyle;
}

.walletModalBlock {
  display: flex;
  justify-content: space-between;
}
