.modalTitle {
  font-size: 25px;
}

.negativeNumb {
  color: hsl(0, 100%, 50%);
}

.positiveNumb {
  color: hsl(120, 100%, 25%);
}

.walletModalBlock {
  display: flex;
  justify-content: space-between;
}
